<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
  {{ utils.flashed_messages() }}
    <div class="center">
        <h1>Instellingen</h1>
        <form method="post" enctype=multipart/form-data>
            {% if current_user.is_admin %}
                <div class="form-group">
                    <div class="row">
                        <input class="btn btn-default" type="button" id="import" value="Importeer studenten"  onclick="$('#import_fileid').click();">
                        <input id='import_fileid' type='file' name='upload_students' style="display:none" accept=".xlsm,.xlsx" onchange="$('#upload_trigger').click();">
                        <input id="upload_trigger" type="submit" value="Import" style="display:none" formaction="{{ url_for('settings.upload_file') }}">
                    </div>
                    <div class="row">
                        <input class="btn btn-default" type="submit" id="export" value="Exporteer registraties"  formaction="{{url_for('settings.exportcsv')}}">
                    </div>
                    <div class="row">
                        <input class="btn btn-default" type="button" value="Wis database"
                               onclick="confirm_before_delete('Bent u zeker dat u de database wil wissen?', 'settings.purge_database')">
                    </div>
                    <div class="row">
                        <input class="btn btn-default" type="button" value="Wis tijden"
                               onclick="confirm_before_delete('Bent u zeker dat u de tijden wil wissen?', 'settings.purge_times')">
                    </div>
                    <div class="row">
                        <input class="btn btn-default" type="button" value="Willekeurige tijden"
                               onclick="confirm_before_delete('Bent u zeker dat u willekeurige tijden wil geven?', 'settings.random_times')">
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}



{% block scripts %}
{{ super() }}
<script>
//Before removing an entry, a confirm-box is shown.
function confirm_before_delete(message, url) {
    bootbox.confirm(message, function(result) {
        if (result) {
            window.location.href = Flask.url_for(url)
        }
    });
}
</script>

{% endblock %}