<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
 <div class="content-section">
  {{ utils.flashed_messages() }}
    <div class="center">
        <div class="container">
            <div class="col-sm-3">
                <div class="form-group row">
                    <table class="table">
                        <thead>
                            <tr><th>Reeks</th><th>Timer</th><th>Tijd</th></tr>
                        </thead>
                        <tbody>
                        {% for s in series %}
                            <tr>
                                <td>{{s.name}}</td>
                                <<td>
                                    <a id="start_{{s.id}}" href="javascript:start_timer({{s.id}})" style="color:{% if s.running %}red{% else %}green{% endif %}">
                                        START</a>
                                    <a id="reset_{{s.id}}" href="javascript:reset_timer({{s.id}})" style="color:black">
                                        RESET</a>
                                </td>
                                <td><div id="timer_{{s.id}}">{{s.current_time}}</div></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                     </table>
                </div>

                <div class="form-group row">
                    <form method="post" enctype=multipart/form-data accept-charset="UTF-8" action="{{ url_for('registration.register') }}">
                        <label for="code" id="code_label">Leerlingcode</label>
                        <input type="text" class="form-control" id="code" name="code" value="{{barcode}}" autofocus>
                        <input class="btn btn-default" type="submit" id="register" style="display: none;" value="TEST">
                    </form>
                </div>
            </div>

            <div class="col-sm-1"></div>

            <div class="col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Naam</th><th>Klas</th><th>Reeks</th><th>Tijd</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for r in registrations %}
                        <tr>
                            <td>{{r.student_code}}</td>
                            <td>{{r.first_name}} {{r.last_name}}</td>
                            <td>{{r.classgroup}}</td>
                            <td>{{r.computer_code}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    //when enter is pressed in the code field, a click on the button is simulated
    //Not required anymore??
    var input = document.getElementById("dummy");
    if(input) {
        input.addEventListener("keyup", function(event) {
            event.preventDefault();

            console.log(event.keyCode)

            if (event.keyCode === 13) {
                document.getElementById("register").click();
            }
        });
    }

    var time_interval = setInterval(get_timer_value, 1000);
    function get_timer_value() {
        $.getJSON(Flask.url_for('registration.get_timer'), function(data) {
            $.each( data, function( key, val ) {
                $('#timer_' + key).html(val);
            });
        });
  }

    function start_timer(id) {
        $.getJSON(Flask.url_for('registration.start', {'id': id}));
        $('#start_' + id).css("color", "red");
        get_timer_value();
        $("#code").focus();
    }
    function reset_timer(id) {
        bootbox.confirm("Bent u zeker dat u de timer wilt resetten?", function(result) {
            if(result) {
                $.getJSON(Flask.url_for('registration.reset', {'id': id}));
                $('#start_' + id).css("color", "green");
                get_timer_value();
            }
             setTimeout(function() {
                $("#code").focus();
                }, 150);
         });
    }

    $(window).load(get_timer_value())

</script>

{% endblock %}