<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
 <div class="content-section">
  {{ utils.flashed_messages() }}
    <div class="center">
        <form method="post" enctype=multipart/form-data action="{{ url_for('registration.register') }}">
            <div class="container">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="code" id="code_label">{% if registration_id > -1 %}Computercode (of leerlingcode) {% else %}Leerlingcode{% endif %}</label>
                        <input type="text" class="form-control" id="code" name="code" value="{{barcode}}" {% if not new_student %}autofocus{% endif %}>
                    </div>
                </div>
                {% if new_student %}
                <div class="panel panel-default">
                    <div class="panel-heading">Nieuwe leerling</div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="code">Achternaam</label>
                                <input type="text" class="form-control" id="new_last_name" name="new_last_name" {% if new_student %}autofocus{% endif %}>
                            </div>
                            <div class="col-sm-4">
                                <label for="code">Voornaam</label>
                                <input type="text" class="form-control" id="new_first_name" name="new_first_name">
                            </div>
                            <div class="col-sm-2">
                                <label for="code">klas</label>
                                <input type="text" class="form-control" id="new_classgroup" name="new_classgroup">
                            </div>
                        </div>
                        <div class="btn-group">
                            <input class="btn btn-default" type="submit" id="add_student" name="add_student" value="Bewaar">
                            <input class="btn btn-default" type="submit" id="cancel_student" name="add_student" value="Annuleer">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if registration_id > -1 %}
                <div class="form-group row">
                    <div class="col-sm-1">
                        <label for="student_code">Code</label>
                        <input type="text" class="form-control" id="student_code" name="student_code" value="{{ student_code }}" readonly>
                    </div>
                    <div class="col-sm-4">
                        <label for="name">Naam</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ student_name }}" readonly>
                    </div>
                    <div class="col-sm-2">
                        <label for="classgroup">Klas</label>
                        <input type="text" class="form-control" id="classgroup" name="classgroup" value="{{ classgroup }}" readonly>
                    </div>
                </div>
                {% endif %}
            </div>
            <input type="hidden" id="custId" name="registration_id" value="{{ registration_id }}">
            <!--<input class="btn btn-default" type="submit" id="register" style="display: none;" value="TEST">-->
            <!-- When testing with selenium, remove the style="display: none" -->
            <input class="btn btn-default" type="submit" id="register" style="display: none;" value="TEST">
        </form>
    <table class="table">
        <thead>
            <tr>
                <th>Code</th><th>Naam</th><th>Klas</th><th>Computer</th>
            </tr>
        </thead>
        <tbody>
        {% for r in registrations %}
            <tr>
                <td>{{r.student_code}}</td>
                <td>{{r.first_name}} {{r.last_name}}</td>
                <td>{{r.classgroup}}</td>
                <td>{{r.computer_code}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
 </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    //when enter is pressed in the code field, a click on the button is simulated
    var input = document.getElementById("code");
    input.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("register").click();
    }
});
</script>

{% endblock %}